---
const { size = "w-6 h-6" } = Astro.props
---

<svg
  class={size}
  viewBox="0 0 24 24"
  xmlns="http://www.w3.org/2000/svg"
  role="img"
  fill="currentColor"
>
  <title>Android</title>
  <path d="M17.6 9.48l1.43-2.49a.3.3 0 00-.52-.3l-1.45 2.51a7.96 7.96 0 00-10.02 0L5.58 6.69a.3.3 0 10-.52.3l1.43 2.49A7.93 7.93 0 004 15.01c0 .55.45 1 1 1h1v3a1 1 0 102 0v-3h8v3a1 1 0 102 0v-3h1c.55 0 1-.45 1-1a7.93 7.93 0 00-2.4-5.53zM8.5 13a.5.5 0 110-1 .5.5 0 010 1zm7 0a.5.5 0 110-1 .5.5 0 010 1z"/>
</svg>
