---
const { size = "w-6 h-6" } = Astro.props
---

<svg
  class={size}
  role="img"
  viewBox="0 0 24 24"
  xmlns="http://www.w3.org/2000/svg"
  fill="currentColor"
>
  <title>Android Studio</title>
  <path d="M11.999 0C5.372 0 0 5.372 0 11.999S5.372 24 11.999 24 24 18.627 24 11.999 18.627 0 11.999 0zm4.566 18.386l-1.184-3.23h-3.764l-1.176 3.23H8.23l5.257-13.77h1.03l5.257 13.77h-1.209zm-2.22-4.57l-1.127-3.075-1.127 3.075h2.254z"/>
</svg>
