---
const { size = "w-6 h-6" } = Astro.props
---

<svg 
  class={size} 
  role="img" 
  viewBox="0 0 24 24" 
  xmlns="http://www.w3.org/2000/svg" 
  fill="currentColor"
>
  <title>Android Studio</title>
  <path d="M16.484 15.632l-1.393-3.791h-3.722l-1.383 3.791H8.16l5.2-13.543h2.724l5.215 13.543h-1.815zM14.53 10.3l-1.178-3.213L12.17 10.3h2.36zM4.246 21.564l13.59-5.631 13.59 5.631V5.986L12.754.354 1.918 5.986v15.578z"/>
</svg>
