<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Sobre mi</h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400"> <strong class="text-zinc-100 font-medium">Soy un desarrollador backend de Argentina enfocado principalmente en el desarrollo de APIs en Java con Spring Boot y conocimientos basicos en otras tecnologias como HTML, CSS y JavaScript</strong> .</p>
  <p class="leading-8 text-lg text-pretty text-zinc-400">Actualmente, estoy profundizando mis conocimientos en desarrollo de software, expandiendo mis habilidades desde el frontend hacia una <strong class="text-zinc-100 font-medium">perspectiva fullstack.</strong></p>
</section>