---
import ProjectCard from '@components/ProjectCard.astro'
import Typescript from '@assets/icons/typescript.astro';
import React from '@assets/icons/react.astro';
import Supabase from '@assets/icons/supabase.astro';
import Tailwind from '@assets/icons/tailwind.astro';
import HTML from '@assets/icons/html.astro';
import CSS from '@assets/icons/css.astro';
import Java from '@assets/icons/java.astro';
import Spring from '@assets/icons/spring.astro';
import MySQL from '@assets/icons/mysql.astro';
import JavaScript from '@assets/icons/javascript.astro';
import SpringSecurity from '@assets/icons/springsecurity.astro';
import Github from '@assets/icons/github.astro';
import Android from '@assets/icons/android.astro';
import Postgresql from "@assets/icons/postgresql.astro";
import Docker from "@assets/icons/docker.astro";

---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Proyectos</h2>
  <hr class="mb-6 border-zinc-600">

  <ProjectCard projectTitle="Groove Records" 
  projectDescription="E-commerce en el cual se venden CDs y vinilos. El proyecto es una API Rest realizada en Java con Spring Boot. Se implementan herramientas como JWT, Spring Security y la API de Mercado Pago para simular compras. Proyecto dockerizado y deployeado en Render (Al ser un plan gratuito la app se "duerme" y demora en iniciarse, por eso para poder usarla, hay que esperar unos minutos)"
   projectLink="https://groove-records-nag2.onrender.com/index.html" githubLink="https://github.com/jez-7/GrooveRecords" 
   images={["/images/groover.png", "/images/groove-2.png", "/images/groove-3.png", "/images/groove-4.png", "/images/groove-5.png", "/images/groove-6.png", "/images/groove-7.png", "/images/groove-8.png", "/images/groove-9.png"]}>
    <Java />
    <Spring />
    <SpringSecurity />
    <MySQL />
    <HTML />
    <JavaScript />
    <CSS />
    <Docker />

  </ProjectCard>

   <ProjectCard 
  projectTitle="Omniscan" 
  projectDescription="Sistema de alta frecuencia diseñado para el escaneo y análisis de productos en tiempo real. La arquitectura está completamente desacoplada mediante Kafka, lo que permite un flujo de datos asincrónico desde la captura del precio hasta la detección de anomalías mediante Sliding Windows. Desarrollado en Java 21 y Spring Boot, utilizando Redis como capa de persistencia volátil para alta velocidad y Kafka como eje de mensajería. Implementé un ciclo de CI/CD con GitHub Actions, integrando SonarQube Cloud para asegurar la calidad del código y Docker Hub para la distribución de imágenes."
  githubLink="https://github.com/jez-7/Omniscan-Backend" 
  images={["/images/img1.jpg", "/images/img2.jpg", "/images/img3.jpg", "/images/img4.jpg"]}>
    <Java />
    <Spring />
    <img src="https://skillicons.dev/icons?i=mongodb" alt="MongoDB" />
    <img src="https://skillicons.dev/icons?i=redis" alt="Redis" />
    <img src="https://skillicons.dev/icons?i=kafka" alt="Kafka" />
    <img src="https://skillicons.dev/icons?i=junit" alt="JUnit" />
    <img src="https://skillicons.dev/icons?i=githubactions" alt="GitHub Actions" />
    <Docker />
</ProjectCard>

  <ProjectCard projectTitle="App Turnos" 
projectDescription="Sistema de gestión de turnos compuesto por una API REST con Spring Boot y una aplicación móvil nativa desarrollada en Android. El frontend móvil utiliza Jetpack Compose para construir una interfaz moderna, estructurada bajo la arquitectura MVVM. La app se comunica con el backend mediante JWT y Spring Security, permitiendo la sincronización de datos en tiempo real, la gestión de estados de reserva y una navegación fluida." 
githubLink="https://github.com/jez-7/reservas-front" images={["/images/android2.png", "/images/ss-3.png", "/images/ss-4.png", "/images/ss-5.png", "/images/ss-6.png", "/images/ss-7.png", "/images/ss-1.png", "/images/ss-2.png"]}>
    <Java />
    <Spring />
    <SpringSecurity />
    <Postgresql />
    <Android />
    <HTML />
    <JavaScript />
    <CSS />

  </ProjectCard>

  <ProjectCard projectTitle="To-Do App" 
projectDescription="Plataforma de gestión de tareas con una API REST en Java (Spring Boot 3.5) e interfaz web dinámica en Vanilla JavaScript. Permite administrar múltiples listas y actividades con persistencia en PostgreSQL mediante Spring Data JPA. El proyecto incluye descripciones personalizadas, estados de tarea y está contenedorizado con Docker para facilitar su despliegue." 
githubLink="https://github.com/jez-7/to-do-app" images={["/images/22.png", "/images/1.png", "/images/2.png", "/images/3.png"]}>
    <Java />
    <Spring />
    <Postgresql />
    <HTML />
    <JavaScript />
    <CSS />
    <Docker />

  </ProjectCard>

  <ProjectCard projectTitle="InnPet" 
projectDescription="Durante mi pasantía, desarrollé el microservicio de gestión de turnos para InnPet bajo una arquitectura de microservicios con Spring Boot. Implementé la lógica de disponibilidad y especialidades veterinarias utilizando Java 21 y Project Loom para optimizar el manejo de hilos. Garanticé la consistencia de las reservas aplicando bloqueo pesimista con @Lock en SQL, evitando conflictos de concurrencia en tiempo real. Por políticas de confidencialidad, el repositorio es privado, pero el diseño destaca por su alta escalabilidad." 
 images={["/images/pets1.png", "/images/pets2.png"]}>
    <Java />
    <Spring />
    <MySQL />
    <Docker />

  </ProjectCard>

   <ProjectCard projectTitle="Facturación Electrónica" 
projectDescription="Durante mi pasantía, desarrollé el módulo de facturación electrónica integrado con los servicios web de ARCA. Utilicé JAX-WS para abstraer la comunicación SOAP y trabajar directamente con objetos Java, logrando una integración limpia y mantenible. Completé con éxito el flujo de emisión y aprobación de comprobantes en el entorno de homologación, cumpliendo con los estándares fiscales vigentes. Por acuerdos de confidencialidad, el repositorio es privado." 
 images={["/images/facturacion.jpeg"]}>
    <Java />
    <Spring />
    <MySQL />
    <Docker />

  </ProjectCard>


 
</section>
