---
import ProjectCard from '@components/ProjectCard.astro'
import Typescript from '@assets/icons/typescript.astro';
import React from '@assets/icons/react.astro';
import Supabase from '@assets/icons/supabase.astro';
import Tailwind from '@assets/icons/tailwind.astro';
import HTML from '@assets/icons/html.astro';
import CSS from '@assets/icons/css.astro';
import MySQL from '@assets/icons/mysql.astro';
import JavaScript from '@assets/icons/javascript.astro';


---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Proyectos</h2>
  <hr class="mb-6 border-zinc-600">

  <ProjectCard projectTitle="Groove Records" projectDescription="Groove Records es un e-commerce en el cual se venden CDs y vinilos. El proyecto es una API Rest realizada en Java con Spring Boot. Se implementan herramientas como JWT, Spring Security y Lombok para el backend y MySQL para la base de datos. También implementamos la API de Mercado Pago para simular los pagos dentro de la página." projectLink="https://github.com/Infgonza/Final_Practicas_Profesionalizantes_2024" image="/images/groover.png">
    <React />
    <Supabase />
    <HTML />
    <MySQL />
    <JavaScript />
    <CSS />

  </ProjectCard>
 
</section>