---
import ProjectCard from '@components/ProjectCard.astro'
import Typescript from '@assets/icons/typescript.astro';
import React from '@assets/icons/react.astro';
import Supabase from '@assets/icons/supabase.astro';
import Tailwind from '@assets/icons/tailwind.astro';
import HTML from '@assets/icons/html.astro';
import CSS from '@assets/icons/css.astro';
import Java from '@assets/icons/java.astro';
import Spring from '@assets/icons/spring.astro';
import MySQL from '@assets/icons/mysql.astro';
import JavaScript from '@assets/icons/javascript.astro';
import SpringSecurity from '@assets/icons/springsecurity.astro';
import Github from '@assets/icons/github.astro';
import Android from '@assets/icons/android.astro';

---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Proyectos</h2>
  <hr class="mb-6 border-zinc-600">

  <ProjectCard projectTitle="Groove Records" 
  projectDescription="E-commerce en el cual se venden CDs y vinilos. El proyecto es una API Rest realizada en Java con Spring Boot. Se implementan herramientas como JWT, Spring Security y la API de Mercado Pago para simular compras."
   projectLink="https://groove-records-nag2.onrender.com/index.html" githubLink="https://github.com/jez-7/GrooveRecords" 
   images={["/images/groover.png", "/images/groove-2.png", "/images/groove-3.png", "/images/groove-4.png", "/images/groove-5.png", "/images/groove-6.png", "/images/groove-7.png", "/images/groove-8.png", "/images/groove-9.png"]}>
    <Java />
    <Spring />
    <SpringSecurity />
    <MySQL />
    <HTML />
    <JavaScript />
    <CSS />

  </ProjectCard>

  <ProjectCard projectTitle="App Turnos" 
projectDescription="Plataforma de gestión de turnos y reservas online. API REST desarrollada en Java con Spring y una app móvil en Android con Jetpack Compose. Implementa JWT, Spring Security, JPA y SQL como base de datos." 
githubLink="https://github.com/jez-7/reservas-front" images={["/images/android2.png", "/images/ss-3.png", "/images/ss-4.png", "/images/ss-5.png", "/images/ss-6.png", "/images/ss-7.png", "/images/ss-1.png", "/images/ss-2.png"]}>
    <Java />
    <Spring />
    <SpringSecurity />
    <MySQL />
    <Android />
    <HTML />
    <JavaScript />
    <CSS />

  </ProjectCard>


 
</section>
